html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../images/ligh-green-texture.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .border-less tr td {
    border: none !important;
    padding: 0 !important;
  }
  @media (min-width: 1200px) {
    .users-list {
      width: 780px;
    }
  }

  .users-list {
    .no-matches {
      color: white;
      font-weight: bolder;
    }

    .table {
      margin-top: 20px;
      th, td {
        text-align: center !important;
      }
      td {
        text-transform: uppercase;
      }
      .playIcon {
        height: 20px;
      }
      .watchIcon {
        height: 20px;
      }
    }
    .tab-content {
      border-radius: 5px;
      background-color: #35DC2A;
      color: #ffff00;
      padding: 5px;
      font-size: large;
    }
    .nav {
      margin-top: 10%;
    }
    .nav-tabs {
      border: none;
      a {
        color: inherit;
        border-color: transparent !important;
      }
      a:hover {
        border: medium none;
        color: #fff;
        font-weight: bold;
        background-color: inherit !important;
      }
      .active {
        a {
          font-weight: bold;
          background-color: #35DC2A !important;
        }
      }
    }
  }

  .full-height {
    height: 100%;
  }

  .page-center {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page {
    input[type="text"] {
      width: 100%;
      border: solid 5px #c9c9c9;
      -webkit-transition: border 0.3s;
      -moz-transition: border 0.3s;
      -o-transition: border 0.3s;
      transition: border 0.3s;
    }
    input[type="text"]:focus, input[type="text"].focus {
      border: solid 5px #969696;
      outline: none;
    }
    .button-center-wrapper {
      text-align: center;
      input[type="button"] {
        background-color: yellowgreen;
        color: darkgreen;
        position: relative;
        width: 100%;
      }
    }
  }
}
